.App {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  text-align: center;
}

.note {
  font-size: 2em;
  font-weight: bold;
  background-color: white;
}

.background {
  width: 100%;
  /* background-image: url("images/bg.png"); */
  /* background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* 
.storeLogo img {
  width: 200px;
  margin-bottom: 48px;
} */

.bg {
  /* position: absolute; */
  height: 100vh;
  /* top: 0;
  left: 0; */
}

.store {
  position: absolute;
  width: 150px;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.download-text {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: gray;
  font-weight: 500;
  padding: 12px;
  font-size: 22px;
}

.allow-text {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  font-weight: 700;
  padding: 12px;
  font-size: 28px;
}
